$mainColor:#4ac6c6;
$subColor:#ff4e4a;
$white:#ecf0f1;
$black:#2c3e50;
$mainFont:'Nunito', sans-serif;
$xlightFont: 200;
$lightFont:300;
$mediumFont:400;
$boldFont :500;
$bolderFont:600;
$dankFont:700; 
